USE [HOAYEUTHUONG]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 12/11/2021 8:34:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuongMua] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/11/2021 8:34:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] NOT NULL,
	[MaCH] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaKHGui] [int] NOT NULL,
	[MaVoucher] [int] NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[TinhTrangTToan] [nvarchar](50) NULL,
	[TinhTrangHD] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON_VANCHUYEN]    Script Date: 12/11/2021 8:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON_VANCHUYEN](
	[MaHD] [int] NOT NULL,
	[MaKHNhan] [int] NULL,
	[DiaChiNhan] [nvarchar](max) NULL,
	[ThoiGianGiao] [date] NULL,
	[LoiNhan] [nvarchar](max) NULL,
	[PhiVanChuyen] [money] NULL,
 CONSTRAINT [PK_HOADON_VANCHUYEN] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/11/2021 8:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[SdtKH] [char](10) NULL,
	[DiaChiKH] [nvarchar](max) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/11/2021 8:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] NOT NULL,
	[TenNV] [nvarchar](40) NULL,
	[LoaiNV] [nvarchar](40) NULL,
	[SdtNV] [char](10) NULL,
	[DiaChiNV] [nvarchar](max) NULL,
	[EmailNV] [varchar](max) NULL,
	[LuongCoDinh] [money] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUCHAMCONG]    Script Date: 12/11/2021 8:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHAMCONG](
	[MaNV] [int] NOT NULL,
	[NgayCham] [date] NOT NULL,
	[GioCham] [time](7) NOT NULL,
 CONSTRAINT [PK_PHIEUCHAMCONG] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[NgayCham] ASC,
	[GioCham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEULUONG]    Script Date: 12/11/2021 8:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEULUONG](
	[MaNV] [int] NOT NULL,
	[NgayNhan] [date] NOT NULL,
	[Luong] [money] NULL,
	[Thuong] [money] NULL,
 CONSTRAINT [PK_PHIEULUONG] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[NgayNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER]    Script Date: 12/11/2021 8:34:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER](
	[MaVoucher] [int] NOT NULL,
	[GiaTri] [decimal](3, 2) NOT NULL,
	[HanSuDung] [date] NULL,
	[SoDanSuDung] [int] NULL,
 CONSTRAINT [PK_VOUCHER] PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKHGui])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaHD])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_VOUCHER] FOREIGN KEY([MaVoucher])
REFERENCES [dbo].[VOUCHER] ([MaVoucher])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_VOUCHER]
GO
ALTER TABLE [dbo].[HOADON_VANCHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_VANCHUYEN_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[HOADON_VANCHUYEN] CHECK CONSTRAINT [FK_HOADON_VANCHUYEN_HOADON]
GO
ALTER TABLE [dbo].[HOADON_VANCHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_VANCHUYEN_KHACHHANG] FOREIGN KEY([MaKHNhan])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON_VANCHUYEN] CHECK CONSTRAINT [FK_HOADON_VANCHUYEN_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHAMCONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUCHAMCONG] CHECK CONSTRAINT [FK_PHIEUCHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEULUONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEULUONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEULUONG] CHECK CONSTRAINT [FK_PHIEULUONG_NHANVIEN]
GO
